@import "variables",
"functions";
* {
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
}

header {
    @include set-background-and-color($primary-color)
}

section {
    padding: 1rem 0;
    &.bg-dark {
        @include set-background-and-color($dark-color)
    }
    &.bg-light {
        @include set-background-and-color($light-color)
    }
}

.btn {
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    &-light {
        @include set-background-and-color($light-color)
    }
    &-dark {
        @include set-background-and-color($dark-color)
    }
}